body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #fefefe;
  color: #5a5a68;
}

.header-user-details{
  background-color: #fce9ef;
  padding: 30px 20px;
  text-align: center;
  border-bottom: 3px solid #cde8f5;
  
}

.general-title {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color: #957bc4;
}

.slogan {
  font-weight: normal;
  font-style: italic;
  color: #c8a2c8;
}

.navegation{
      position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #cde8f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 15px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

.navigation-sections {
  color: #5a5a68;
  text-decoration: none;
  font-weight: bold;
}

.navigation-sections:hover {
  color: #c8a2c8;
  text-decoration: underline;
}

.main-content {
  padding: 30px 20px;
}

section {
    background-color: #e9f6fb;
  border: 2px solid #cde8f5;
  border-radius: 14px;
  margin-bottom: 40px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(200, 200, 255, 0.1);
}

.title-sections{
  color: #c8a2c8;
  border-bottom: 2px solid #e1d5f6;
  padding-bottom: 6px;
  margin-bottom: 20px;
  font-size: 1.6em;
}

.profile-photo{
  display: block;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.profile-photo:hover {
  transform: scale(1.05);
}

.list {
  list-style-type: circle;
  padding-left: 25px;
  line-height: 1.8em;
}

#contacto {
  text-align: center;
}

.link {
  font-size: 30px;
  margin: 12px;
  text-decoration: none;
  color: #5a5a68;
  transition: transform 0.3s ease, color 0.3s ease;
}

.link:hover {
  color: #c8a2c8;
}

.autor {
  background-color: #fce9ef;
  color: #5a5a68;
  text-align: center;
  padding: 15px;
  border-top: 2px solid #e1d5f6;
  margin-top: 30px;
}

